.section {
  position: relative;
  h2 {
    margin-top: 0;
  }
  & + .section {
    margin-top: 6rem;
    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: -3rem;
      transform: translate(-50%, -50%);
      width: 80%;
      height: 3px;
      background-color: var(--bg-clr-200);
    }
  }
}
