.showcase-box {
  --background-opacity: 0.4;
  --border-size: 3px;
  --border-radius: 6px;
  width: 100%;
  border: var(--border-size) solid var(--accent-main);
  border-radius: var(--border-radius);
  z-index: 1;
  position: relative;
  //some spacing for code blocks
  & + pre {
    margin-top: 1.5rem !important;
  }
  //and for small headings
  & + .heading--white {
    margin-top: 4rem;
  }
  // ! FLEX
  &.flex {
    display: flex;
  }
  // flex direction classes
  &.flex-direction-row {
    flex-direction: row;
  }
  &.flex-direction-row-reverse {
    flex-direction: row-reverse;
  }
  &.flex-direction-column {
    flex-direction: column;
  }
  &.flex-direction-column-reverse {
    flex-direction: column-reverse;
  }
  // align items classes
  &.align-items-center {
    align-items: center;
  }
  &.align-items-flex-start {
    align-items: flex-start;
  }
  &.align-items-flex-end {
    align-items: flex-end;
  }
  &.align-items-stretch {
    align-items: stretch;
  }
  &.align-items-baseline {
    align-items: baseline;
  }
  // align content classes
  &.align-content-center {
    align-content: center;
  }
  &.align-content-start {
    align-content: start;
  }
  &.align-content-end {
    align-content: end;
  }
  &.align-content-space-around {
    align-content: space-around;
  }
  &.align-content-space-between {
    align-content: space-between;
  }
  &.align-content-space-evenly {
    align-content: space-evenly;
  }
  // justify content classes
  &.justify-content-center {
    justify-content: center;
  }
  &.justify-content-flex-start {
    justify-content: flex-start;
  }
  &.justify-content-start {
    justify-content: start;
  }
  &.justify-content-flex-end {
    justify-content: flex-end;
  }
  &.justify-content-end {
    justify-content: end;
  }
  &.justify-content-stretch {
    justify-content: stretch;
  }
  &.justify-content-space-around {
    justify-content: space-around;
  }
  &.justify-content-space-between {
    justify-content: space-between;
  }
  &.justify-content-space-evenly {
    justify-content: space-evenly;
  }
  // justify items classes
  &.justify-items-center {
    justify-items: center;
  }
  &.justify-items-flex-start {
    justify-items: flex-start;
  }
  &.justify-items-flex-end {
    justify-items: flex-end;
  }
  &.justify-items-space-around {
    justify-items: space-around;
  }
  &.justify-items-space-between {
    justify-items: space-between;
  }
  &.justify-items-space-evenly {
    justify-items: space-evenly;
  }
  // flex wrap classes
  &.flex-wrap-nowrap {
    flex-wrap: nowrap;
  }
  &.flex-wrap-wrap {
    flex-wrap: wrap;
  }
  &.flex-wrap-wrap-reverse {
    flex-wrap: wrap-reverse;
  }

  &.flex-grow-showcase {
    justify-content: flex-start;
    .showcase-item {
      padding: 0.5rem 1rem;
    }
  }

  &.axis-showcase {
    margin: 6rem 0 4rem;
    &:not(.show-axis) {
      .main-axis,
      .cross-axis {
        display: none;
      }
      .showcase-item {
        opacity: 1 !important;
      }
      margin: 0 !important;
    }
    .showcase-item {
      opacity: 0.5;
    }
    &.flex-direction-column,
    &.flex-direction-column-reverse {
      .main-axis {
        z-index: 2;
        width: 4px;
        height: calc(100% + 4rem);
      }
      .cross-axis {
        width: calc(100% + 4rem);
        height: 2px;
      }
    }
    &.flex-direction-row,
    &.flex-direction-row-reverse {
      .main-axis {
        z-index: 2;
        width: calc(100% + 4rem);
        height: 4px;
      }
      .cross-axis {
        width: 2px;
        height: calc(100% + 4rem);
      }
    }
    .main-axis,
    .cross-axis {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      box-shadow: 0 0 2px black;
      background-color: var(--text-clr-400);
      position: absolute;
    }
    .main-axis::after {
      position: absolute;
      content: "Main Axis";
      font-weight: 700;
      font-size: 1.25rem;
    }
    .main-axis::before {
      content: "";
      width: 20px;
      height: 20px;
      display: block;
      border: 10px solid;
      position: absolute;
    }
    .cross-axis::before {
      content: "";
      width: 10px;
      height: 10px;
      display: block;
      border: 8px solid;
      position: absolute;
    }
    .cross-axis::after {
      position: absolute;
      content: "Cross Axis";
    }
    &.flex-direction-row {
      .main-axis::after {
        right: -8rem;
        top: 50%;
        transform: translateY(-55%);
      }
      .main-axis::before {
        border-right-color: transparent;
        border-top-color: transparent;
        border-bottom-color: transparent;
        top: 50%;
        right: -20px;
        transform: translateY(-50%);
      }
      .cross-axis::after {
        bottom: -2rem;
        white-space: nowrap;
        left: 50%;
        transform: translateX(-50%);
      }
      .cross-axis::before {
        border-right-color: transparent;
        border-left-color: transparent;
        border-bottom-color: transparent;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &.flex-direction-row-reverse {
      .main-axis::after {
        left: -8rem;
        top: 50%;
        transform: translateY(-55%);
      }
      .main-axis::before {
        border-left-color: transparent;
        border-top-color: transparent;
        border-bottom-color: transparent;
        top: 50%;
        left: -20px;
        transform: translateY(-50%);
      }
      .cross-axis::after {
        bottom: -2rem;
        white-space: nowrap;
        left: 50%;
        transform: translateX(-50%);
      }
      .cross-axis::before {
        border-right-color: transparent;
        border-left-color: transparent;
        border-bottom-color: transparent;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &.flex-direction-column {
      .main-axis::after {
        bottom: -3rem;
        white-space: nowrap;
        left: 50%;
        transform: translateX(-50%);
      }
      .main-axis::before {
        border-left-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);
      }
      .cross-axis::after {
        right: -6rem;
        top: 50%;
        transform: translateY(-55%);
      }
      .cross-axis::before {
        border-right-color: transparent;
        border-top-color: transparent;
        border-bottom-color: transparent;
        top: 50%;
        right: -10px;
        transform: translateY(-50%);
      }
    }
    &.flex-direction-column-reverse {
      .main-axis::after {
        top: -3rem;
        white-space: nowrap;
        left: 50%;
        transform: translateX(-50%);
      }
      .main-axis::before {
        border-left-color: transparent;
        border-right-color: transparent;
        border-top-color: transparent;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
      }
      .cross-axis::after {
        right: -6rem;
        top: 50%;
        transform: translateY(-55%);
      }
      .cross-axis::before {
        border-right-color: transparent;
        border-top-color: transparent;
        border-bottom-color: transparent;
        top: 50%;
        right: -10px;
        transform: translateY(-50%);
      }
    }
  }

  &.flex-wrap-showcase {
    padding: 1rem;
    gap: 1rem;
    .showcase-item {
      width: calc(50% - 0.5rem);
      margin: 0;
    }
  }

  &--ai {
    & *:nth-child(2) {
      height: 100px;
      font-size: 1.25rem;
    }
    & *:nth-child(4) {
      padding-top: 3rem !important;
      height: 150px;
      font-size: 0.9rem;
    }
  }

  &.static-height {
    height: 600px;
  }

  // ! GRID

  &.grid {
    display: grid;
    gap: 1rem;
    padding: 1rem;
    & > .showcase-item {
      margin: 0;
    }
    & > .showcase-item::after {
      opacity: calc(var(--background-opacity) + 0.1);
    }
    &.two-by-two {
      grid: 1fr 1fr / 1fr 1fr;
    }
    &.three-by-two {
      grid: 1fr 1fr / 1fr 1fr 1fr;
    }
    &.two-by-three {
      grid: 1fr 1fr 1fr / 1fr 1fr;
    }
    &.three-by-three {
      grid: 1fr 1fr 1fr / 1fr 1fr 1fr;
    }
    &.four-by-two {
      grid: 1fr 1fr / 1fr 1fr 1fr 1fr;
    }
  }

  .grid-highlight {
    --highlight-opacity: 0.5;
    position: absolute;
    width: calc(50% - 1.5rem);
    height: calc(50% - 1.5rem);
    border-radius: var(--border-radius);
    top: 1rem;
    left: 1rem;
    z-index: 1;
    background-image: repeating-linear-gradient(
      45deg,
      rgba(0, 0, 0, var(--highlight-opacity)),
      rgba(0, 0, 0, var(--highlight-opacity)) 10px,
      rgba(255, 255, 255, var(--highlight-opacity)) 10px,
      rgba(255, 255, 255, var(--highlight-opacity)) 20px
    );
    display: flex;
    align-items: center;
    justify-content: center;
    &::after {
      content: "Highlight Name";
      padding: 0.5em 1.5em;
      font-size: 0.8rem;
      border-radius: 4px;
      box-shadow: 0 0 8px rgba(black, 0.25);
      background-color: var(--bg-clr-400);
      font-weight: 700;
    }
  }

  &.grid-cell {
    z-index: 1;
    .grid-highlight {
      &::after {
        content: "Grid Cell";
      }
    }
  }

  &.grid-area {
    .grid-highlight {
      width: calc(66.66% - 1.65rem);
      height: calc(66.66% - 1.65rem);
      &::after {
        content: "Grid Area";
      }
    }
  }

  &.grid-track {
    z-index: 1;
    & + .grid-track {
      margin-top: 1rem;
    }
    .grid-highlight {
      top: 50%;
      width: calc(100% - 2rem);
      height: 54px;
      transform: translateY(-50%);
      &::after {
        content: "Grid Track";
      }
    }
    &--second {
      .grid-highlight {
        top: 1rem;
        left: calc(50% + 0.5rem);
        width: calc(25% - 1.25rem);
        height: calc(100% - 2rem);
        transform: none;
        &::after {
          content: "Grid Track";
        }
      }
    }
  }

  &.grid-line {
    margin: 6rem 0 6rem;
    .lines {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      > div {
        position: absolute;
        background: var(--text-clr-400);
        transform: translate(-50%, -50%);
        box-shadow: 0 0 2px black;
        &::before,
        &::after {
          position: absolute;
          background-color: var(--bg-clr-200);
          padding: 0.25em 0.5em;
          border-radius: 4px;
        }
      }
      [class^="row"] {
        width: calc(100% + 4rem);
        height: 2px;
        left: 50%;
        &::before {
          top: 50%;
          left: -4.5rem;
          transform: translateY(-50%);
          text-align: right;
        }
        &::after {
          top: 50%;
          right: -4.5rem;
          transform: translateY(-60%);
        }
      }
      [class^="column"] {
        width: 2px;
        height: calc(100% + 4rem);
        top: 50%;
        &::before {
          top: -2.5rem;
          left: 50%;
          white-space: nowrap;
          transform: translateX(-50%);
        }
        &::after {
          bottom: -2.5rem;
          left: 50%;
          white-space: nowrap;
          transform: translateX(-50%);
        }
      }
      .row-start {
        top: 0.5rem;
        &::before {
          content: "Row 1";
        }
        &::after {
          content: "Row -4";
        }
      }
      .row-2 {
        top: 34%;
        &::before {
          content: "Row 2";
        }
        &::after {
          content: "Row -3";
        }
      }
      .row-3 {
        top: 66%;
        &::before {
          content: "Row 3";
        }
        &::after {
          content: "Row -2";
        }
      }
      .row-end {
        top: calc(100% - 0.5rem);
        &::before {
          content: "Row 4";
        }
        &::after {
          content: "Row -1";
        }
      }
      .column-start {
        left: 0.5rem;
        &::before {
          content: "Column 1";
        }
        &::after {
          content: "Column -3";
        }
      }
      .column-2 {
        left: 50%;
        &::before {
          content: "Column 2";
        }
        &::after {
          content: "Column -2";
        }
      }
      .column-end {
        left: calc(100% - 0.5rem);
        &::before {
          content: "Column 3";
        }
        &::after {
          content: "Column -1";
        }
      }
    }
  }

  &.grid-template-columns {
    &--first {
      grid-template-columns: 150px 250px 350px;
      gap: 0;
    }
    &--second {
      grid-template-columns: 40% 60%;
      gap: 0;
    }

    &--third {
      grid-template-columns: 1fr 1fr;
      gap: 0;
    }

    &--fourth {
      grid-template-columns: 1fr 2fr 1fr;
      gap: 0;
    }

    &--fifth {
      grid-template-columns: 200px 3fr 1fr;
      gap: 0;
    }

    &--sixth {
      grid-template-columns: auto auto;
      gap: 0;
    }
  }

  &.grid-template-rows {
    &--first {
      grid-template-rows: 100px 200px;
      grid-template-columns: 1fr;
      gap: 0;
    }

    &--second {
      grid-template-rows: 1fr 2fr;
      grid-template-columns: 1fr;
      gap: 0;
    }

    &--third {
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr;
      gap: 0;
    }

    &--fourth {
      grid-template-rows: auto auto;
      grid-template-columns: 1fr;
      gap: 0;
    }
  }

  &.grid-gap {
    grid-template-columns: 1fr 1fr;
    grid-template-columns: auto auto;
    gap: 1rem;
    &--column {
      gap: 0;
      column-gap: 1rem;
    }
    &--row {
      gap: 0;
      row-gap: 1rem;
    }
  }

  &.grid-positioning {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 150px);
    gap: 1rem;
    &--static {
      display: grid;
      height: 400px;
      grid-template-columns: 200px 200px;
      grid-template-rows: repeat(2, 100px);
      gap: 1rem;
    }
    .showcase-item {
      width: 50%;
      height: 65%;
      padding: 1rem;
      font-size: 0.8rem;
    }
  }

  &.grid-column {
    &--first {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, auto);
      .showcase-item:nth-child(2) {
        grid-column: 2 / 4;
      }
    }
    &--second {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      .showcase-item:nth-child(2) {
        grid-column: span 2;
      }
      .showcase-item:nth-child(6) {
        grid-column: span 3;
      }
    }
  }

  &.grid-row {
    &--first {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(4, 1fr);
      .showcase-item:nth-child(1) {
        grid-row: 1 / 5;
      }
    }
    &--second {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(4, 1fr);
      .showcase-item:nth-child(2),
      .showcase-item:nth-child(4) {
        grid-row: span 4;
      }
    }
  }

  &.grid-area {
    &--first {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-template-areas:
        "a a a d"
        ". b b d"
        "c c . d";
      .showcase-item:nth-child(1) {
        grid-area: a;
      }
      .showcase-item:nth-child(2) {
        grid-area: b;
      }
      .showcase-item:nth-child(3) {
        grid-area: c;
      }
      .showcase-item:nth-child(4) {
        grid-area: d;
      }
    }
  }

  // * Backgrounds
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--accent-main);
    opacity: var(--background-opacity);
    z-index: -1;
  }
  & > .showcase-item {
    border-radius: var(--border-radius);
    margin: 1rem 2rem;
    padding: 1.5rem 2rem;
    font-weight: 700;
    text-align: center;
    border: var(--border-size) solid var(--accent-secondary);
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: var(--accent-secondary);
      opacity: var(--background-opacity);
      z-index: -1;
    }
  }
}
