#grid {
  --accent-main: var(--red-400);
  --accent-secondary: var(--yellow-400);
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  margin-bottom: 4rem;
  .section {
    .controls {
      margin: 1rem 0;
    }
  }
}
